{% extends "pages/page.html" %}

{% load pages_tags mezzanine_tags %}

{% block main %}{{ block.super }}
    <br>

<div class="row" style="padding-left: 25px; width:100%;">
        {% with page.peoplepage.people.all as people %}
        {% for person in people %}

        {% if forloop.counter|divisibleby:4 %}</div>{% endif %}
        {% if forloop.counter|divisibleby:4 %}<div class="row" style="padding-left: 25px; width:100%;">{% endif %}
        <div class="col-md-4">
            <img style="float: left; padding-right: 10px; height:133px;" src="{{ person.file.url }}">
            <h2>{% editable person.name %}{{ person.name }}{% endeditable %}</h2>
            <h4>{% editable person.position %}{{ person.position }}{% endeditable %}</h4>
            <p>{% editable person.email %}{{ person.email }}{% endeditable %}</p>
            {% editable person.bio %}{{ person.bio|richtext_filters|safe }}{% endeditable %}

        </div>
        {% endfor %}
        {% endwith %}
</div>

<div class="container">
{% editable page.peoplepage.content %}
{{ page.peoplepage.content|richtext_filters|safe }}
{% endeditable %}
</div>


<br><br><br><br><br>

{% endblock %}



{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

